*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parallax {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    background-color: black;
    height: 1080px;

}
section {

    height: auto;
    text-align: center;
    padding: 40px 4%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 20, 20);
    
}
h1{
    margin-bottom: 20px;
}

section:nth-of-type(1) {
    background-image: url(kobe1.jpg);
}
section:nth-of-type(3) {
    background-image: url(kobe2.jpg);
}
section:nth-of-type(5) {
    background-image: url(kobe3.jpg);
}
section:nth-of-type(7) {
    background-image: url(kobe4.jfif);
}